bodyBg = #f4f5f9
secBg = #ffffff
primaryBg = #e52d24
titleColor = #333
primaryColor = #fff
boderColor = #999999
textColor = #666666 
activeColor = #e52d23
disabledBg = #b3b3b3
lineColor = #eeeeee 
linkColor = #148bf1
sendBorder = #cccccc
speackBg = #f6f6f6
mySpeackBg = #dff0f8
myRoomBorderColor = #494960
myRoomNameColor = #171a0b
ruleSecBg = #fffac7
ruleTipColor = #363636
ruleActiveColor = #e21c00
blackBg = #3c3c4b

